@import "tailwindcss";
@import "../styles/typography.css";
@import "../styles/color.css";
@import "../styles/radius.css";

@layer base {
  body {
    font-family: "Pretendard-Variable", sans-serif;
  }
}

@layer utilities {
  .app-container {
    width: min(1200px, calc(100% - 80px));
    margin-inline: auto;
  }

  .scrollbar-hidden {
    scrollbar-width: none;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}
