@theme {
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-full: 999px;
  --radius-cta-s: 10px;
  --radius-toast-s: 6px;
}
