@font-face {
  font-family: "Pretendard-Variable";
  src: url("../fonts/PretendardVariable.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "NeurimboGothic";
  src: url("../fonts/neurimboGothicRegular.woff");
  font-display: swap;
}

@layer base {
  :root {
    --type-b16-size: 16px;
    --type-b16-line-height: 160%;
    --type-b16-letter-spacing: -0.02em;
    --type-weight-medium: 500;
    --type-weight-semibold: 600;
  }

  body {
    font-family: "Pretendard-Variable", sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}

@layer utilities {
  /* Headline 28 */
  .text-h28-bold {
    font-family: "Pretendard-Variable";
    font-size: 28px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.02em;
  }
  .text-h28-med {
    font-family: "Pretendard-Variable";

    font-size: 28px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -0.02em;
  }

  /* Headline 24 */
  .text-h24-bold {
    font-family: "Pretendard-Variable";
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.02em;
  }
  .text-h24-med {
    font-family: "Pretendard-Variable";
    font-size: 24px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -0.02em;
  }

  /* Title 20 */
  .text-t20-semibold {
    font-family: "Pretendard-Variable";
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.02em;
  }
  .text-t20-reg {
    font-family: "Pretendard-Variable";
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.02em;
  }
  .text-t20-reg-loose {
    font-family: "Pretendard-Variable";
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.02em;
  }

  /* Body 16 */
  .text-b16-bold {
    font-family: "Pretendard-Variable";
    font-size: var(--type-b16-size);
    font-weight: var(--type-weight-semibold);
    line-height: var(--type-b16-line-height);
    letter-spacing: var(--type-b16-letter-spacing);
  }
  .text-b16-semibold {
    font-family: "Pretendard-Variable";
    font-size: var(--type-b16-size);
    font-weight: var(--type-weight-semibold);
    line-height: var(--type-b16-line-height);
    letter-spacing: var(--type-b16-letter-spacing);
  }
  .text-b16-med {
    font-family: "Pretendard-Variable";
    font-size: var(--type-b16-size);
    font-weight: var(--type-weight-medium);
    line-height: var(--type-b16-line-height);
    letter-spacing: var(--type-b16-letter-spacing);
  }
  .text-b16-reg {
    font-family: "Pretendard-Variable";
    font-size: var(--type-b16-size);
    font-weight: 400;
    line-height: var(--type-b16-line-height);
    letter-spacing: var(--type-b16-letter-spacing);
  }

  /* Button & Label 14 */
  .text-btn16-semibold {
    font-family: "Pretendard-Variable";
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.02em;
  }
  .text-label14-med {
    font-family: "Pretendard-Variable";
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.02em;
  }
  .text-label14-semibold {
    font-family: "Pretendard-Variable";
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.02em;
  }
  .text-btn14-semibold {
    font-family: "Pretendard-Variable";
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.02em;
  }

  /* SubBody 14 */
  .text-sub14-med {
    font-family: "Pretendard-Variable";
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.02em;
  }
  .text-sub14-reg {
    font-family: "Pretendard-Variable";
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.02em;
  }

  /* Caption 12 */
  .text-cap12-med {
    font-family: "Pretendard-Variable";
    font-size: 12px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.024em;
  }
  .text-cap12-semibold {
    font-family: "Pretendard-Variable";
    font-size: 12px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.02em;
  }
  .text-cap12-bold {
    font-family: "Pretendard-Variable";
    font-size: 12px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -0.02em;
  }

  .neurimbo-head {
    font-family: "NeurimboGothic";
    font-size: 32px;
    line-height: 130%;
    letter-spacing: -0.02em;
  }
  .neurimbo-body {
    font-family: "NeurimboGothic";
    font-size: 16px;
    line-height: 160%;
    letter-spacing: -0.02em;
  }

  @media (max-width: 863px) {
    .mobile-text-b16-semibold {
      font-family: "Pretendard-Variable";
      font-size: var(--type-b16-size);
      font-weight: var(--type-weight-semibold);
      line-height: var(--type-b16-line-height);
      letter-spacing: var(--type-b16-letter-spacing);
    }

    .mobile-text-b16-med {
      font-family: "Pretendard-Variable";
      font-size: var(--type-b16-size);
      font-weight: var(--type-weight-medium);
      line-height: var(--type-b16-line-height);
      letter-spacing: var(--type-b16-letter-spacing);
    }
  }
}
